# Dependencies
node_modules/
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Build outputs
dist/
functions/lib/

# IDE
.vscode/
.idea/

# Secrets (המקום שבו נשמור מפתחות בעתיד)
.env
.env.local
.env.production
service-account.json
functions/lib/
frontend/serviceAccountKey.json
frontend/ozen-staging-2025-firebase-adminsdk-fbsvc-e582bc321f.json
serviceAccountKey.json
